In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("../data_given/insurance.csv")

In [4]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [12]:
df.describe().loc[['max','min']].to_json('schema_in.json')

In [13]:
class NotInRange(Exception):
    def __init__(self,message='Value not in range'):
        self.message=message
        super().__init__(self.message)

In [14]:
raise NotInRange

NotInRange: Value not in range

In [15]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [19]:
df.describe().loc[['max','min']]

      age    bmi  children      charges
max  64.0  53.13       5.0  63770.42801
min  18.0  15.96       0.0   1121.87390

In [21]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64